<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Appointment Details</h1>

        <label for="patientName">Patient Name: <%= foundAppointment.patientName  %></label>
        <input type="text" name="patientName" readonly>

        <label for="date">Date: <%= foundAppointment.date  %></label>
        <input type="date" name="date" readonly>

        <label for="reason">Reason: <%= foundAppointment.reason  %></label>
        <input type="text" name="reason" readonly>

        <label for="doctor">Doctor: <%= foundAppointment.doctor.name %></label>

    <h3>Notes</h3>
    <form action="/books/<%=foundAppointment._id %>/note" method="post">

        <label for="content">Content: </label>
        <input type="text" name="content">

        <label for="createdAt">Created At: </label>
        <input type="date" name="createdAt">

        <button>Submit Note</button>
    </form>
</body>
</html>