<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Appointments List</h1>
    <a href="/appointments/new"><button>Add an Appointment</button></a>
    <% allAppointments.forEach((appointment) => { %>
        <div class="card">
            <p>Patient Name: <%= appointment.patientName %></p>
            <p>Date: <%= appointment.specialty %></p>
            <p>Reason: <%= appointment.reason %></p>
            <p>Doctor: <%= appointment.doctor.name %></p>
            <p>Notes: <%= appointment.notes %></p>

            <a href="/appointments/<%= appointment._id %>"><button>View Details</button></a>
        </div>
    <% }); %>
</body>
</html>