<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <h1>Appointments List</h1>
    <a href="/appointments/new"><button>Add an Appointment</button></a>
    <% allAppointments.forEach((appointment) => { %>
        <div class="card">
            <p>Patient Name: <%= appointment.patientName %></p>
            <p>Date: <%= appointment.date.toLocaleDateString(); %></p>
            <p>Reason: <%= appointment.reason %></p>
            <p>Doctor: <%= appointment.doctor.name %></p>
            <p>Notes: </p>
            <% appointment.notes.forEach((note) => { %>
                <div class="note">
                    <p><%= note.content %></p>
                    <p><%= note.createdAt.toLocaleDateString(); %></p>
                </div>
            <% }); %>
            
            <a href="/appointments/<%= appointment._id %>"><button>View Details</button></a>

            <form action="/appointments/<%= appointment._id %>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }); %>
</body>
</html>