<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Doctor Details</h1>

    <p>Name: <%= selectedDoctor.name %></p>
    <p>Specialty: <%= selectedDoctor.specialty %></p>
    <p>Years Of Experience: <%= selectedDoctor.yearsOfExperience %></p>

    <% appointments.forEach((appointment) => { %>
            <h2>Patient Name: <%= appointment.patientName %></h2>
            <p>Date: <%= appointment.date %></p>
            <p>Reason: <%= appointment.reason %></p>
            <p>Doctor: <%= selectedDoctor.name %></p>
            <p>Notes: <%= appointment.notes %></p>
    <% }); %>
</body>
</html>